<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsão do Tempo</h1>
		</div>
		<!-- 
		<form class="form-inline" method="POST" th:object="${previsaodotempo}"
			th:action="@{/previsoes}" style="margin: 20px 0">
			<div class="form-group">
			<!-- 	<input type="text" class="form-control" placeholder="Dia da semana" th:field="*{diadasemana}" /> 
				<input type="text" class="form-control" placeholder="Data" th:field="*{data}" />
				<input type="text" class="form-control" placeholder="Hora" th:field="*{hora}" /> 
				<input type="text" class="form-control" placeholder="Temperatura Mínima" th:field="*{temperaturamin}" /> 
				<input type="text" class="form-control" placeholder="Temperatura Máxima" th:field="*{temperaturamax}" />
			</div>
			<div class="form-group"> 
				<input type="text" class="form-control" placeholder="Umidade Relativa do Ar" th:field="*{umidaderelativadoar}" />
				<input type="text" class="form-control" placeholder="Latitude" th:field="*{latitude}" />
				<input type="text" class="form-control" placeholder="Longitude" th:field="*{longitude}" />		
				<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}" />														
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form> -->
		
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia da Semana</th>
						<th>Data</th>
						<th>Hora</th>
						<th>Temperatura Mínima</th>
						<th>Temperatura Máxima</th>
						<th>Umidade Relativa do ar</th>
						<th>Cidade</th>						
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Descricao</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="previsaodotempo : ${previsoes}">
						<td th:text="${previsaodotempo.diadasemana.diadasemana}"></td>  						
						<td th:text="${previsaodotempo.data}"></td>
						<td th:text="${previsaodotempo.hora}"></td>
						<td th:text="${previsaodotempo.temperaturamin}"></td>
						<td th:text="${previsaodotempo.temperaturamax}"></td>
						<td th:text="${previsaodotempo.umidaderelativadoar}"></td>
						<td th:text="${previsaodotempo.cidade.cidade}"></td>						
						<td th:text="${previsaodotempo.cidade.latitude}"></td>
						<td th:text="${previsaodotempo.cidade.longitude}"></td>
						<td th:text="${previsaodotempo.descricao}"></td>

					</tr> 
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>